﻿@model List<MyWebiste.Models.SlideShow>
@{
    Layout = null;
}

<div class="header_bottom_right">
    <div class="slider">
        <div id="slider">
            <div id="mover">
                @foreach (var slideshow in Model)
                {
                <div id="slide-1" class="slide">
                    <div class="slider-img">
                        <a href="preview.html"><img src="~/slideshows/@slideshow.Name" alt="learn more" /></a>
                    </div>
                    <div class="slider-text">
                        <h1>@slideshow.Title<br><span>SALE</span></h1>
                        <h2>@slideshow.UptoSale</h2>
                        <div class="features_list">
                            <h4>@slideshow.Description</h4>
                        </div>
                        <a href="preview.html" class="button">Shop Now</a>
                    </div>
                    <div class="clear"></div>
                </div>
                @*<div class="slide">
                    <div class="slider-text">
                        <h1>@slideshow.Title<br><span>SALE</span></h1>
                        <h2>@slideshow.UptoSale</h2>
                        <div class="features_list">
                            <h4>@slideshow.Description</h4>
                        </div>
                        <a href="preview.html" class="button">Shop Now</a>
                    </div>
                    <div class="slider-img">
                        <a href="preview.html"><img src="~/slideshows/@slideshow.Name" alt="learn more" /></a>
                    </div>
                    <div class="clear"></div>
                </div>*@
                @*<div class="slide">
                    <div class="slider-img">
                        <a href="preview.html"><img src="~/User/images/slide-2-image.jpg" alt="learn more" /></a>
                    </div>
                    <div class="slider-text">
                        <h1>Clearance<br><span>SALE</span></h1>
                        <h2>UPTo 10% OFF</h2>
                        <div class="features_list">
                            <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>
                        </div>
                        <a href="preview.html" class="button">Shop Now</a>
                    </div>
                    <div class="clear"></div>
                </div>*@
                }
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>